{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-decorators",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-export-default-from"
  ],
  "presets": [
    "@babel/preset-env"
  ]
}
